mkdocs>=1.4.0
mkdocs-material>=9.0.0
mkdocstrings>=0.19.0
mkdocs-minify-plugin>=0.6.0
mkdocs-git-revision-date-localized-plugin>=1.2.0
mkdocs-markdownextradata-plugin>=0.2.0
mkdocs-git-authors-plugin>=0.6.0
mkdocs-git-committers-plugin-2>=1.2.5
mkdocs-redirects>=1.2.0
mkdocs-mermaid2-plugin>=1.0.0
mkdocs-section-index>=0.3.0
mkdocs-awesome-pages-plugin>=2.8.0
