mkdocs>=1.4.0
mkdocs-material>=9.0.0
mkdocstrings>=0.19.0
mkdocs-minify-plugin>=0.6.0
mkdocs-git-revision-date-localized-plugin>=1.0.0
mkdocs-markdownextradata-plugin>=0.2.0
mkdocs-git-authors-plugin>=0.6.0
mkdocs-git-committers-plugin-2>=1.2.5
mkdocs-redirects>=1.2.0
mkdocs-mermaid2-plugin>=1.0.0
mkdocs-section-index>=0.3.0
mkdocs-git-revision-date-plugin>=0.3.0
mkdocs-awesome-pages-plugin>=2.7.0
mkdocs-print-site-plugin>=2.7.0
pyyaml>=6.0
tabulate>=0.9.0
linkcheckmd>=0.3.4
markdown-include>=0.8.0
mkdocs-exclude>=1.0.2
mkdocs-macros-plugin>=0.7.0
mkdocs-material-extensions>=1.1.1
